.editor-wrapper {
  height: 100%;
  background-color: #ffffff;
}

/* Monaco Editor 커스텀 스타일
.monaco-editor .margin {
  background-color: #ffffff !important;
}

.monaco-editor .line-numbers {
  color: #999 !important;
} */